*{
	margin: 0;padding: 0;list-style-type: none;
}
*{
	margin: 0;padding: 0;
}
footer ul{
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 49px;
	display: flex;
	background: rgba(230,230,230,0.7);
}
footer ul li{
	flex: 1;
}
footer ul li div{
	width: 50%;
	height: 60%;
	overflow: hidden;
	margin: 0 auto;
	background: url('../img1/sprite_tab_icons.png') no-repeat;
	background-size: 450% 200%
}