header{
	height: 44px;
	background: #eee;
	width: 100%;
	display: flex;
	position: fixed;
	top:0;
	left: 0;
	color: white;
	font-size: 17px;
	text-align: center;
	z-index: 40;
	font-family: "Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53";
	overflow: hidden;
}

.back{
	width: 80px;
	vertical-align: middle;
	background:pink;
	height: 44px;
}

.back img{
	width: 80%;
}

.omit{
	width: 80px;
	vertical-align: middle;
}

.omit img{
	width: 100%;
}

.title{
	flex: 1;
	vertical-align: middle;
}