$width:100%;

*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
body,html{
    width:$width;
    font-size: 20px;
}
//头部
.C_header{
    width: $width;
    height: 3.7rem;
    position: fixed;
    top:0;
    left: 0;
    z-index: 9;
    overflow: hidden;
    
}
.C_search{
    width: $width;
    height: 1.5rem;
    background: #fbfbfb;
    border-top:0.025rem solid #e5e5e5;
    border-bottom:0.025rem solid #e5e5e5;
    position: relative;
    overflow: hidden;
}
.c_arror{
    width: 10px;
    position:absolute;
    top:0.35rem;
    left:3%;
}
.C_search input{
    width: 85%;
    height: 1rem;
    text-indent: 1rem;
    background: #e6e6e6;
    border: #e6e6e6 solid 1px;
    position: absolute;
    top:0.25rem;
    left: 8%;
    background: url(../img/search.png) no-repeat;
    background-size: 15px;
    background-position: 0.1rem 0.25rem ;
}
.C_class{
    width: $width;
    height: 2rem;   
    float: left;
    position:absolute;
    top:1.5rem;
    color: #000;
    background: #fff;
}
.C_class ul{
     margin-left: 10%;
    padding-top:0.2rem; 
}
.C_class li{
    float: left;
     margin-left: 2rem;
     padding:0.3rem 0.5rem;
     color: #000000;
     font-size: 15px;
    img{
        width:20px;       
    }
}
.c_li1{
    color:#ac2b3d;
    border-bottom: 1px solid #AC2B3D;
}

//banner

.c2_imgs{
    width: $width;
    margin-top: 4rem;
    
}
.c2_imgs ul{
    width: $width;
}
.c2_imgs li{
    float: left;
    margin-left: 0.6rem;
    width: 45%;
    img{
        width: 100%;
    }
}
.c2_imgs p{
    font-size: 15px;
    text-align: center;
    color: #000000;
    padding-bottom: 0.5rem;
}

//主体
.C2_main{
    background: #f8f8f8;
    overflow: hidden;
}
.C2_main ul{
    width: $width;
}
.C2_main li{
    width: 30%;
    float: left;
    background: #fff;
//  display: block;
    height: 5rem;
    margin: 0.2rem 0.25rem;
    img{
        width: 60%;
        margin-left: 20%;
    }
    
    p{
        text-align: center;
        font-size: 13px;
        color: #000000;
    }
}
.c_p1{
        width: 30%;
        height: 0.15rem;
        background: #000000;   
        margin-left: 35%;
        margin-bottom: 0.5rem;   
    }
.c2_m1{
    margin-top: 0.2rem;
    overflow: hidden;
}
