<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>home</title>
</head>
<body>
	<div class="h_out">
		<!--头部-->
		<div class="h_out2">
		<header>
			<P class="back" ng-click="homeBtn()"><img src="Home/h_img/h2.jpg"/></P>
			<p class="title"><img src="Home/h_img/h3.jpg"/></p>
			<p class="omit"><img src="Home/h_img/h1.jpg"/></p>
		</header>
			<ul class="h_nav"> 
				<li><a href="###">推荐</a></li>
				<li><a href="###">至IN美护</a></li>
				<li><a href="###">生活用品</a></li>
				<li><a href="###">乐活厨房</a></li>
				<li><a href="###">美味时光</a></li>
		    </ul>
		</div>
		<!--轮播图-->
		<div class="h_roll">
			<div class="h_juan">
				<img src="img/home_head001.jpg" />
			</div>
		</div>
		<div class="h_free">
			<div class="free_img1">
				<img src="img/home_head002.jpg"/>
			</div>
			<div class="free_img2">
				<img src="img/home_head002.jpg"/>
			</div>
			<!--签到-->
		<div class="h_sign">
			<a href="###">
				<img src="img/home_headicon.jpg"/>
				<p>签到</p>
			</a>
			<a href="###">
				<img src="img/home_headicon.jpg"/>
				<p>签到</p>
			</a>
			<a href="###">
				<img src="img/home_headicon.jpg"/>
				<p>签到</p>
			</a>
			<a href="###">
				<img src="img/home_headicon.jpg"/>
				<p>签到</p>
			</a>
		</div>
		<!--自然美-->
		<div class="h_natural">
			<img src="img/home_head003.jpg" />
		</div>
		<!--限时活动-->
		<div class="h_limit">
			<h3>
				<img src="img/ico_28.png"/>
				<span>限时活动</span>
			</h3>
			<a href="###">
				<img src="img/05277936560684355.jpg" />
			</a>
		</div>
		<!--今日精选-->
		<div class="h_limit">
			<h3>
				<img src="img/ico_33.png"/>
				<span>今日精选</span>
			</h3>
			<a href="###">
				<img src="img/05278518041406206.jpg" />
			</a>
		</div>
		<!--韩国原装-->
		<div class="h_mackup">
			<a href="###">
				<img src="img/1_05277037594092579_360.jpg" />
				<p>Mstone韩国原装...</p>
				<p>￥29.00<span>￥69</span></p>
			</a>
			<a href="###">
				<img src="img/1_05276877600533238_360.jpg" />
				<p>法国进口 薇姿塑颜...</p>
				<p>￥399.00<span>￥699</span></p>
			</a>
			<a href="###">
				<img src="img/1_05276211573204263_360.jpg" />
				<p>ROSENSE土耳其...</p>
				<p>￥199.00<span>￥299</span></p>
			</a>
		</div>
		<!--menbn-->
		<div class="h_natural">
			<img src="img/05278518041406206.jpg" />
		</div>
		<!--新西兰-->
		<div class="h_mackup">
			<a href="###">
				<img src="img/1_05271602055518185_360.jpg" />
				<p>新西兰保加奥图马...</p>
				<p>￥25.00<span>￥55</span></p>
			</a>
			<a href="###">
				<img src="img/1_05271601200967495_360.jpg" />
				<p>新西兰保加奥图鸢....</p>
				<p>￥25.00<span>￥55</span></p>
			</a>
			<a href="###">
				<img src="img/1_05271600204861671_360.jpg" />
				<p>新西兰保加奥图香...</p>
				<p>￥25.00<span>￥55</span></p>
			</a>
		</div>
		<!--menbn-->
		<div class="h_natural">
			<img src="img/05278518041406206.jpg" />
		</div>
		<!--DK-->
		<div class="h_mackup">
			<a href="###">
				<img src="img/1_05277035278849591_360.jpg" />
				<p>DK Aromatherp...</p>
				<p>￥328.00<span>￥656</span></p>
			</a>
			<a href="###">
				<img src="img/1_05277035278849591_360.jpg" />
				<p>DK Aromatherp...</p>
				<p>￥298.00<span>￥596</span></p>
			</a>
			<a href="###">
				<img src="img/1_05271051816296015_360.jpg" />
				<p>韩国贵爱娘-中草...</p>
				<p>￥49.00<span>￥98</span></p>
			</a>
		</div>
		<!--menbn-->
		<div class="h_natural">
			<img src="img/05278518041406206.jpg" />
		</div>
		<!--飞利浦牙膏-->
		<div class="h_mackup">
			<a href="###">
				<img src="img/1_05276157715827427_360.jpg" />
				<p>飞利浦高效清洁声...</p>
				<p>￥399.00<span>￥598</span></p>
			</a>
			<a href="###">
				<img src="img/1_05265637744127513_360.jpg" />
				<p>WaveBetter唯物...</p>
				<p>￥99.00<span>￥199</span></p>
			</a>
			<a href="###">
				<img src="img/1_05249380647184069_360.jpg" />
				<p>韩国2080牙膏12...</p>
				<p>￥59.00<span>￥79</span></p>
			</a>
		</div>
		<!--menbn-->
		<div class="h_natural">
			<img src="img/05278518041406206.jpg" />
		</div>
		<!--娥佩蓝-->
		<div class="h_mackup">
			<a href="###">
				<img src="img/1_05260445318232423_360.jpg" />
				<p>娥佩兰净透清润洁...</p>
				<p>￥45.00<span>￥90</span></p>
			</a>
			<a href="###">
				<img src="img/1_05247707644184132_360.jpg" />
				<p>詹妮弗洛佩兹闪亮...</p>
				<p>￥199.00<span>￥248</span></p>
			</a>
			<a href="###">
				<img src="img/1_05235622934850473_360.jpg" />
				<p>蔚伊思LOVE幸福...</p>
				<p>￥199.00<span>￥980</span></p>
			</a>
		</div>
		<!--menbn-->
		<div class="h_natural">
			<img src="img/05278518041406206.jpg" />
		</div>
		<!--金稻吸黑头-->
		<div class="h_mackup">
			<a href="###">
				<img src="img/1_05276157707263168_360.jpg" />
				<p>金稻吸黑头神器祛...</p>
				<p>￥328.00<span>￥656</span></p>
			</a>
			<a href="###">
				<img src="img/1_05276130509087963_360.jpg" />
				<p>金稻蒸脸器热喷家...</p>
				<p>￥298.00<span>￥595</span></p>
			</a>
			<a href="###">
				<img src="img/1_05270226719649973_360.jpg" />
				<p>蔚伊思LOVE幸福...</p>
				<p>￥69.00<span>￥79</span></p>
			</a>
		</div>
		<!--今日推荐-->
		<div class="h_limit">
			<h3>
				<img src="img/ico_34.png"/>
				<span>今日推荐</span>
		</div>
		<!--获取后天数据(新品上市)-->
		<div class="h_listed">
			<a href="###" ng-repeat="obj in arr1">
				<img ng-src="{{obj.pic}}"/>
				<p>{{obj.goods_jingle}}</p>
				<p>{{obj.goods_name}}</p>
				<p>￥{{obj.goods_price1}}<span>￥{{obj.goods_price2}}</span></p>
			</a>
			<a href="###" ng-repeat="obj2 in arr2">
				<img ng-src="{{obj2.pic}}"/>
				<p>{{obj2.goods_jingle}}</p>
				<p>{{obj2.goods_name}}</p>
				<p>￥{{obj2.goods_price1}}<span>￥{{obj2.goods_price2}}</span></p>
			</a>
			<a href="###" ng-repeat="obj3 in arr3">
				<img ng-src="{{obj3.pic}}"/>
				<p>{{obj3.goods_jingle}}</p>
				<p>{{obj3.goods_name}}</p>
				<p>￥{{obj3.goods_price1}}<span>￥{{obj3.goods_price2}}</span></p>
			</a>
			<a href="###" ng-repeat="obj4 in arr4">
				<img ng-src="{{obj4.pic}}"/>
				<p>{{obj4.goods_jingle}}</p>
				<p>{{obj4.goods_name}}</p>
				<p>￥{{obj4.goods_price1}}<span>￥{{obj4.goods_price2}}</span></p>
			</a>
			<a href="###" ng-repeat="obj5 in arr5">
				<img ng-src="{{obj5.pic}}"/>
				<p>{{obj5.goods_jingle}}</p>
				<p>{{obj5.goods_name}}</p>
				<p>￥{{obj5.goods_price1}}<span>￥{{obj5.goods_price2}}</span></p>
			</a>
			<a href="###" ng-repeat="obj6 in arr6">
				<img ng-src="{{obj6.pic}}"/>
				<p>{{obj6.goods_jingle}}</p>
				<p>{{obj6.goods_name}}</p>
				<p>￥{{obj6.goods_price1}}<span>￥{{obj6.goods_price2}}</span></p>
			</a>
			<a href="###" ng-repeat="obj7 in arr7">
				<img ng-src="{{obj7.pic}}"/>
				<p>{{obj7.goods_jingle}}</p>
				<p>{{obj7.goods_name}}</p>
				<p>￥{{obj7.goods_price1}}<span>￥{{obj7.goods_price2}}</span></p>
			</a>
		</div>
		
		
		</div>
		
	</div>
	
</body>
</html>