*{
	margin: 0;padding: 0;
}
body{
	background: #eee;
}
/* header */
.header{
	width: 100%;
	overflow: hidden;
	background: #fff;
	text-align: center;
	color: #333;
	padding: 0.5rem;
	font-weight: bolder;
}
/* car */
.other{
	overflow: hidden;
	text-align: center;
}
.other_img{
	overflow: hidden;
}
.other_img p{
	color:#666;
	margin-bottom: 4rem;
}
.other span{
	text-align: center;
	display: block;
	background: url('http://169.254.94.225:4504/img/tit_bg.png') no-repeat center;
	background-size: 100%;
}
.recommend_commodity{
	overflow: hidden;
}
.recommend_commodity .commoditys{
	width: 48%;
	float: left;
	margin-left: 1%;
}
.recommend_commodity .commoditys img{
	width: 100%;
}
.recommend_commodity .commoditys h5{
	font-weight: normal;
}
.recommend_commodity .commoditys p{
	color: red;

}
.recommend_commodity .commoditys p span{
	color:#888;
	text-decoration: line-through;
}