<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,user-scalable=no">

		<link rel="stylesheet" type="text/css" href="Classify/css/Classify1.css"/>
	</head>
	<body ng-controller="Classify">
		<!--头部-->
		<div class="C_header">
			<div class="C_search">
				<a href="###"><img src="Classify/img/arror.png" class="c_arror"/></a>
				<input type="text" placeholder="搜索商品、品牌" />
			</div>
			
			<div class="C_class">
				<ul>
					<a href="#/Classify"><li class="c_li1" style=" color:#ac2b3d;">
						<img src="Classify/img/1.png"/>  分类
					</li></a>
					<a href="#/Classify_brank"><li>
						<img src="Classify/img/2.png"/>  品牌
					</li></a>
				</ul>
			</div>
		</div>
		
		<!--主体-->
		<main class="C_main">
			<!--个护美妆-->
			<div class="c_main1">
				<a href="#/C_beauty"><img src={{title1}} alt=""  class="c_beauty"/></a>
				<div ng-repeat="obj in arr" class="c_smallBeauty">				
					<div>
						<ul>
							<li>
								<a href="#/C_beauty"><img src={{obj.imgURL}} /></a>
								<a href="#/C_beauty"><p>{{obj.MainBrandName}}</p></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<!--餐厨日用-->
			<div class="c_main1">
				<a href="#/C_beauty"><img src={{title2}} alt=""  class="c_beauty"/></a>
				<div ng-repeat="obj2 in arr2" class="c_smallBeauty">				
					<div>
						<ul>
							<li>
								<a href="#/C_beauty"><img src={{obj2.imgURL}} /></a>
								<a href="#/C_beauty"><p>{{obj2.MainBrandName}}</p></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<!--食品保健-->
			<div class="c_main1">
				<a href="#/C_beauty"><img src={{title3}} alt=""  class="c_beauty"/></a>
				<div ng-repeat="obj3 in arr3" class="c_smallBeauty">				
					<div>
						<ul>
							<li>
								<a href="#/C_beauty"><img src={{obj3.imgURL}} /></a>
								<a href="#/C_beauty"><p>{{obj3.MainBrandName}}</p></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<!--服装配饰-->
			<div class="c_main1">
				<a href="#/C_beauty"><img src={{title4}} alt=""  class="c_beauty"/></a>
				<div ng-repeat="obj4 in arr4" class="c_smallBeauty">				
					<div>
						<ul>
							<li>
								<a href="#/C_beauty"><img src={{obj4.imgURL}} /></a>
								<a href="#/C_beauty"><p>{{obj4.MainBrandName}}</p></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			
			<!--布艺家纺-->
			<div class="c_main1">
				<a href="#/C_beauty"><img src={{title5}} alt=""  class="c_beauty"/></a>
				<div ng-repeat="obj5 in arr5" class="c_smallBeauty">				
					<div>
						<ul>
							<li>
								<a href="#/C_beauty"><img src={{obj5.imgURL}} /></a>
								<a href="#/C_beauty"><p>{{obj5.MainBrandName}}</p></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<!--家电数码-->
			<div class="c_main1">
				<a href="#/C_beauty"><img src={{title6}} alt=""  class="c_beauty"/></a>
				<div ng-repeat="obj6 in arr6" class="c_smallBeauty">				
					<div>
						<ul>
							<li>
								<a href="#/C_beauty"><img src={{obj6.imgURL}} /></a>
								<a href="#/C_beauty"><p>{{obj6.MainBrandName}}</p></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<!--母婴呵护-->
			<div class="c_main1">
				<a href="#/C_beauty"><img src={{title7}} alt=""  class="c_beauty"/></a>
				<div ng-repeat="obj7 in arr7" class="c_smallBeauty">				
					<div>
						<ul>
							<li>
								<a href="#/C_beauty"><img src={{obj7.imgURL}} /></a>
								<a href="#/C_beauty"><p>{{obj7.MainBrandName}}</p></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<!--更多分类-->
			<div class="c_main1">
				<a href="#/C_beauty"><img src={{title8}} alt=""  class="c_beauty"/></a>
				<div ng-repeat="obj8 in arr8" class="c_smallBeauty">				
					<div>
						<ul>
							<li>
								<a href="#/C_beauty"><img src={{obj8.imgURL}} /></a>
								<a href="#/C_beauty"><p>{{obj8.MainBrandName}}</p></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</main>

	</body>
</html>
